<div class="container">
    <div class="mx-auto px-20 py-4">
        <div class="py-4">
        <div class="bg-gray-900 text-white text-center py-2 px-1 rounded w-1/6 float-right">
            <%= link_to "Create Doc + ", new_doc_path %>
         </div>
            <% @docs.each do |doc| %>
                <h2 class="mt-4">
                    <%= link_to doc.title, doc  %>
                </h2>
                <p>
                    <%= time_ago_in_words(doc.created_at) %>
                </p>
                <p>
                    <%= truncate(doc.content, length:50) %>
                </p>

            <% end %>

           
        </div>


    </div>
</div>

