<div class="container">
    <div class="mx-auto">
        <h1 class="py-10">Create Doc</h1>

         <div class="bg-white shadow-lg px-4 py-4 flex flex-col">
          <%= render 'form' %>
         </div>

       

    </div>
</div>