<div class="container">
    <div class="mx-auto px-20">
        <div class="bg-white shadow-lg px-12 py-4">
            <h1 class="py-4 text-xl">
                <%= @doc.title %>
            </h1>
            <div class="my-3">
               <p class="">
                <%= simple_format(@doc.content) %>
               </p>
            </div>
        
        </div>
       
        <div class="py-4">
            <ul class="flex justify-between">
                <li> <%= link_to "# - Edit", edit_doc_path(@doc) %></li>
                <li> <%= link_to "X - Delete", doc_path(@doc), method: :delete, data: { confirm: "Are you sure?" }%> </li>

            
             
            
            </ul>          
        </div>
          

       
    </div>
</div>