<div class="banner bg-gray-900 text-white" style="height:100vh">
    <div class="flex flex-col w-3/4 mx-auto h-full">

    <div class="flex flex-col text-center justify-center items-center h-full">
        <h1 class="text-6xl font-bold">
            Refine your Thoughts!
        </h1>

        <p>
            Curabitur non nulla sit amet nisl tempus convallis quis ac lectus. Curabitur aliquet quam id dui posuere blandit. Nulla porttitor accumsan tincidunt. Pellentesque in ipsum id orci porta dapibus.
        </p>

         <button class="bg-white p-2 w-1/2 text-gray-900 mt-8">
            <%= link_to "Sign Up", new_user_registration_path %>
        </button>

    </div>

   
    </div>
    

</div>


